body {
  background-color: black;
  color: white;
  font-family: monospace;
  margin: 0px;
  overflow: hidden;
}

.reverse-video {
  background-color: white;
}

.terminal {
  display: none;
  position: absolute;
  top: 100px;
  left: 60px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.terminal > div {
  background-color: rgb(30,24,24);
}

iframe {
  width: 100%;
  height: 100%;
  border-width: 0px;
}

.slide {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-size: 100000% 100%;
  background-position: 5000px 0px;
}

.slide code {
  font-family: monospace;
  white-space: pre-wrap;
}

.slide .text {
  position: absolute;
  top: 0;
  left: 15%;
  right: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2em;
  color: white;
  text-shadow: 0 0 2px black;
}

.slide .text h1 {
  color: orange;
  margin-top: 0em;
}

.slide .images {
  position: absolute;
  border: 1px solid red;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.slide .images img {
  height: 100%;
}

.show {
  display: block;
}

#slides {
  margin: auto;
}

#clock {
  cursor: pointer;
  color: white;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#clock:hover {
  color: rgb(255,127,127);
}
